{% extends 'base.html' %}
{% block content %}
  <header class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
      <div align="right" class="container">
          <a class="nav-link" href="{{ url_for('all_workouts_view') }}">
            На главную
          </a>
        </div>
   </nav>
  </header>

  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Fit</span>Track</h1>
      <h2 class="text-center my-4">
        Добавление выполненной тренировки
      </h2>

      <div class="container">
        <div class="row my-3">

          <form method="post" style="margin-bottom: 50px">
            {{ form.csrf_token }}
            {% for field in [
                 form.date, form.exercise, form.weight,
                 form.num_circles, form.num_reps, form.time
               ] %}
              {{ field(class="form-control form-control-lg py-1 mb-3",
                       placeholder=field.label.text) }}
              {% for error in field.errors %}
                <span style="color:red">{{ error }}</span>
              {% endfor %}
            {% endfor %}
            {{ form.submit(class="btn btn-primary btn-lg") }}
          </form>

        </div>
      </div>

    </section>
  </main>
{% endblock %}
