{% extends 'base.html' %}
{% block content %}
    <header class="pb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
            <div class="container text-right">
                <a class="nav-link" href="{{ url_for('add_workout_view') }}">
                    Добавить тренировку
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="container my-5 px-4">
            <h1 class="text-center"><span style="color:red">Fit</span>Track</h1>
            <h2 class="text-center my-4">Выполненные тренировки</h2>

            <table class="table table-bordered table-hover table-striped mx-auto">
                <thead>
                    <tr>
                        {% for column in header %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
